<div class="col-md-3" >
    <div class="realEstateAgent">
        <div class="agentImage">
            <img class="agent-image view-agent-details" data-src='UserImagePath' alt="">
        </div>
        <div class="most-1">
            <h5>
                <div data="" class="agent-title">
                    <div id="agent-0" class="view-agent-details textOverflow" data-content='AgentName'></div>
                </div>
            </h5>
            <hr class="divider">
            <div class="agentCardDetails">
                <div class="row">
                    <div class="col-md-12 row realEstateAgents">
                        <div class="col-md-3 col-sm-3 agentCardsAttribute">Company</div>
                        <div class="col-md-1 col-sm-1 agentCardsAttribute" style="margin-left: -5px;">:</div>
                        <div class="col-md-8 col-sm-8 agentCardsValue" data-content='CompanyName'></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 row realEstateAgents">
                        <div class="col-md-3 col-sm-3 agentCardsAttribute">Contact</div>
                        <div class="col-md-1 col-sm-1 agentCardsAttribute" style="margin-left: -5px;">:</div>
                        <div class="col-md-8 col-sm-8 agentCardsValue" data-content='MobileNumber'></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 row realEstateAgents">
                        <div class="col-md-3 col-sm-3 agentCardsAttribute">Email</div>
                        <div class="col-md-1 col-sm-1 agentCardsAttribute" style="margin-left: -5px;">:</div>
                        <div class="col-md-8 col-sm-8 agentCardsValue" data-content='Email'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>