<div class="login-right" style="padding:0px">
	<h3>Change Password</h3>
	<div class="login-top">
		<div class="error">
			<span id="error-msg" style="color: red;"></span>
		</div>
		<div class="form-info">

			<input id="current-password" type="password" placeholder="Current password " required="">
			<input id="new-password" type="password" placeholder="New password " required="">
			<input id="confirm-new-password" type="password" placeholder="Confirm new password " required="">
			<div style="width: 100%;text-align: center;">
				<a href="javascript:" class="hvr-sweep-to-right more change-password-btn">CHANGE PASSWORD</a>
			</div>
			<br>
		</div>		
	</div>
</div>