<div class="login-right" style="padding:0px">
	<h3>Edit Profile</h3>
	<div class="login-top">
		<div class="error">
			<span id="error-msg" style="color: red;"></span>
		</div>
		<div class="form-info">

			<input id="firstname" type="text" placeholder="First Name" required="" >
			<input id="lastname" type="text" placeholder="Last Name" required="" >
			<input id="email" type="email" placeholder="Email Adress" required="" >
			<input id="mobilenumber" type="text" placeholder="Mobile Number" required="" >
			<input id="address" type="text" placeholder="Address" >
			Profile Picture: &nbsp; &nbsp;<input id="profileimage" class="" type="file" placeholder="Upload your profile picture" required="" >
			
			<div style="width: 100%;text-align: center;">
				<a href="javascript:" class="hvr-sweep-to-right more edit-profile-btn">UPDATE PROFILE</a>
			</div>
			<br>
		</div>		
	</div>
</div>