<div class="header-right">
    <div class="banner banner1">

        <div class="container" style="text-align: center;">

            <div style="margin-top:5%">
                <div class="home-caption">
                    <a href="#">
                        <img height="250px;" src="images/logo.png" alt="Company logo"> 
                    </a>
                </div>
                <p class="error"></p>
                <div >
                    <br>
                    <div style="text-align: center;">
                        <input id="txtSearch" type="text" class="searchBox form-control" onkeypress="search_func(event)" placeholder="Enter City, State, Zip">
                    </div>
                </div>
                <div class="row" style="color: #FFF">
                    <br>
                    <div class="col-md-3" style="text-align: left;">
                        <h4 style="margin-bottom: 5px;color: black;font-weight: bold;">Type Of Accomodation</h4>
                        <select id="ddType" class="in-drop form-control">
                            <option value="">Select Type</option>
                            <option value="1">Appartment</option>
                            <option value="2">House</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <h4 style="margin-bottom: 5px;color: black;font-weight: bold;">Bedrooms</h4>
                        <select id="ddBedroom" class="in-drop form-control">
                            <option value="">Select Bedrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="text-align: left;">
                        <h4 style="margin-bottom: 5px;color: black;font-weight: bold;">Square feet</h4>
                        <input id="txtSqft" type="text" class="form-control"  placeholder="Enter Square feet">
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <h4 style="margin-bottom: 5px;color: black;font-weight: bold;">Ad Type</h4>
                        <select id="ddAdType" class="in-drop form-control">
                            <option value="">Select Ad Type</option>
                            <option value="1">Rental</option>
                            <option value="2">Buy</option>
                        </select>
                    </div>
                    <br>
                </div>
                <br>
                <div style="text-align: center;">
                    <input id="btnSearch" style="width:12%" type="button" class="searcBtn search_button btn btn-default"  name="Search" value="Search">
                </div><br>
                <script>
                    function search_func(e)
                    {
                        e = e || window.event;
                        if (e.keyCode == 13)
                        {
                          document.getElementById('btnSearch').click();
                            return false;
                        }
                        return true;
                    }
                </script>
            </div>
        </div>
    </div>
</div>